SYSCONFIG MCCLK_FREQ=2.4 CONFIG_MODE=JTAG COMPRESS_CONFIG=OFF CONFIG_SECURE=OFF TRANSFR=OFF BACKGROUND_RECONFIG=OFF CONFIG_IOVOLTAGE=3.3 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

########## OSC-CLOCK

LOCATE COMP "clkin_32mhz" SITE "A11";
IOBUF  PORT "clkin_32mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clkin_32mhz" 32 MHZ;

########## FT2232H-UART

# FT2232H-56Q (CHAN B) | LINE |  FPGA
# 32 BDBUS0 TXD (O) -> UART_TX -> C10 (FPGA)
# 33 BDBUS1 RXD (I) <- UART_RX <- C11 (FPGA)
# 48 BCBUS3 RXLEDn
# 49 BCBUS4 TXLEDn

LOCATE  COMP "uart_tx"  SITE "C11";
IOBUF   PORT "uart_tx"  IO_TYPE=LVCMOS33;

LOCATE  COMP "uart_rx"  SITE "C10";
IOBUF   PORT "uart_rx"  IO_TYPE=LVCMOS33;

########## QSPI-FLASH

LOCATE COMP "qspiflash_cs_n" SITE "U17";
IOBUF PORT "qspiflash_cs_n" IO_TYPE=LVCMOS33;

LOCATE COMP "qspiflash_dq[0]" SITE "U18";
IOBUF PORT "qspiflash_dq[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "qspiflash_dq[1]" SITE "T18";
IOBUF PORT "qspiflash_dq[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "qspiflash_dq[2]" SITE "R18";
IOBUF PORT "qspiflash_dq[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "qspiflash_dq[3]" SITE "N18";
IOBUF PORT "qspiflash_dq[3]" IO_TYPE=LVCMOS33;

########## FT601-FIFO

# BANK1

LOCATE COMP "fifo_ft_rst" SITE "A9";
IOBUF PORT "fifo_ft_rst" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_oe" SITE "A8";
IOBUF PORT "fifo_ft_oe" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_rd" SITE "C8";
IOBUF PORT "fifo_ft_rd" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_wr" SITE "B9";
IOBUF PORT "fifo_ft_wr" IO_TYPE=LVCMOS25;

# BANK7

LOCATE COMP "fifo_ft_clk" SITE "B12";
IOBUF PORT "fifo_ft_clk" IO_TYPE=LVCMOS25;
FREQUENCY PORT "fifo_ft_clk" 100 MHZ;

LOCATE COMP "fifo_ft_d00" SITE "C15";
IOBUF PORT "fifo_ft_d00" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d01" SITE "B15";
IOBUF PORT "fifo_ft_d01" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d02" SITE "A15";
IOBUF PORT "fifo_ft_d02" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d03" SITE "A16";
IOBUF PORT "fifo_ft_d03" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d04" SITE "A17";
IOBUF PORT "fifo_ft_d04" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d05" SITE "B17";
IOBUF PORT "fifo_ft_d05" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d06" SITE "B18";
IOBUF PORT "fifo_ft_d06" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d07" SITE "D16";
IOBUF PORT "fifo_ft_d07" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d08" SITE "C17";
IOBUF PORT "fifo_ft_d08" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d09" SITE "C16";
IOBUF PORT "fifo_ft_d09" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d10" SITE "D15";
IOBUF PORT "fifo_ft_d10" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d11" SITE "D13";
IOBUF PORT "fifo_ft_d11" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d12" SITE "C13";
IOBUF PORT "fifo_ft_d12" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d13" SITE "B13";
IOBUF PORT "fifo_ft_d13" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d14" SITE "A13";
IOBUF PORT "fifo_ft_d14" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d15" SITE "A12";
IOBUF PORT "fifo_ft_d15" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d16" SITE "C12";
IOBUF PORT "fifo_ft_d16" IO_TYPE=LVCMOS25;

# BANK2

LOCATE COMP "fifo_ft_d17" SITE "D6";
IOBUF PORT "fifo_ft_d17" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d18" SITE "C7";
IOBUF PORT "fifo_ft_d18" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d19" SITE "B7";
IOBUF PORT "fifo_ft_d19" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d20" SITE "A7";
IOBUF PORT "fifo_ft_d20" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d21" SITE "A6";
IOBUF PORT "fifo_ft_d21" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d22" SITE "B6";
IOBUF PORT "fifo_ft_d22" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d23" SITE "C6";
IOBUF PORT "fifo_ft_d23" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d24" SITE "A3";
IOBUF PORT "fifo_ft_d24" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d25" SITE "C3";
IOBUF PORT "fifo_ft_d25" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d26" SITE "C2";
IOBUF PORT "fifo_ft_d26" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d27" SITE "D3";
IOBUF PORT "fifo_ft_d27" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d28" SITE "D4";
IOBUF PORT "fifo_ft_d28" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d29" SITE "A4";
IOBUF PORT "fifo_ft_d29" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d30" SITE "C4";
IOBUF PORT "fifo_ft_d30" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_d31" SITE "B4";
IOBUF PORT "fifo_ft_d31" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_be0" SITE "D2";
IOBUF PORT "fifo_ft_be0" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_be1" SITE "D1";
IOBUF PORT "fifo_ft_be1" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_be2" SITE "C1";
IOBUF PORT "fifo_ft_be2" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_be3" SITE "B1";
IOBUF PORT "fifo_ft_be3" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_rxf" SITE "A2";
IOBUF PORT "fifo_ft_rxf" IO_TYPE=LVCMOS25;

LOCATE COMP "fifo_ft_txe" SITE "B2";
IOBUF PORT "fifo_ft_txe" IO_TYPE=LVCMOS25;

########## DDR3-RAM

# always on GND
#LOCATE COMP "ddram_cs_n" SITE "";
#IOBUF PORT "ddram_cs_n" SLEWRATE=FAST;
#IOBUF PORT "ddram_cs_n" IO_TYPE=SSTL135_I;

# BANK3

LOCATE COMP "ddram_a00" SITE "H2";
IOBUF PORT "ddram_a00" SLEWRATE=FAST;
IOBUF PORT "ddram_a00" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a01" SITE "K2";
IOBUF PORT "ddram_a01" SLEWRATE=FAST;
IOBUF PORT "ddram_a01" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a02" SITE "F3";
IOBUF PORT "ddram_a02" SLEWRATE=FAST;
IOBUF PORT "ddram_a02" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a03" SITE "J2";
IOBUF PORT "ddram_a03" SLEWRATE=FAST;
IOBUF PORT "ddram_a03" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a04" SITE "N2";
IOBUF PORT "ddram_a04" SLEWRATE=FAST;
IOBUF PORT "ddram_a04" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a05" SITE "F2";
IOBUF PORT "ddram_a05" SLEWRATE=FAST;
IOBUF PORT "ddram_a05" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a06" SITE "N1";
IOBUF PORT "ddram_a06" SLEWRATE=FAST;
IOBUF PORT "ddram_a06" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a07" SITE "K1";
IOBUF PORT "ddram_a07" SLEWRATE=FAST;
IOBUF PORT "ddram_a07" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a08" SITE "M1";
IOBUF PORT "ddram_a08" SLEWRATE=FAST;
IOBUF PORT "ddram_a08" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a09" SITE "F4";
IOBUF PORT "ddram_a09" SLEWRATE=FAST;
IOBUF PORT "ddram_a09" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a10" SITE "K3";
IOBUF PORT "ddram_a10" SLEWRATE=FAST;
IOBUF PORT "ddram_a10" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a11" SITE "L1";
IOBUF PORT "ddram_a11" SLEWRATE=FAST;
IOBUF PORT "ddram_a11" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a12" SITE "M3";
IOBUF PORT "ddram_a12" SLEWRATE=FAST;
IOBUF PORT "ddram_a12" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a13" SITE "G1";
IOBUF PORT "ddram_a13" SLEWRATE=FAST;
IOBUF PORT "ddram_a13" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a14" SITE "F1";
IOBUF PORT "ddram_a14" SLEWRATE=FAST;
IOBUF PORT "ddram_a14" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a15" SITE "G3";
IOBUF PORT "ddram_a15" SLEWRATE=FAST;
IOBUF PORT "ddram_a15" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba0" SITE "M2";
IOBUF PORT "ddram_ba0" SLEWRATE=FAST;
IOBUF PORT "ddram_ba0" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba1" SITE "N3";
IOBUF PORT "ddram_ba1" SLEWRATE=FAST;
IOBUF PORT "ddram_ba1" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba2" SITE "L3";
IOBUF PORT "ddram_ba2" SLEWRATE=FAST;
IOBUF PORT "ddram_ba2" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ras_n" SITE "G4";
IOBUF PORT "ddram_ras_n" SLEWRATE=FAST;
IOBUF PORT "ddram_ras_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_cas_n" SITE "J3";
IOBUF PORT "ddram_cas_n" SLEWRATE=FAST;
IOBUF PORT "ddram_cas_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_we_n" SITE "K4";
IOBUF PORT "ddram_we_n" SLEWRATE=FAST;
IOBUF PORT "ddram_we_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_cke" SITE "N4";
IOBUF PORT "ddram_cke" SLEWRATE=FAST;
IOBUF PORT "ddram_cke" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_odt" SITE "H4";
IOBUF PORT "ddram_odt" SLEWRATE=FAST;
IOBUF PORT "ddram_odt" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_reset_n" SITE "H1";
IOBUF PORT "ddram_reset_n" SLEWRATE=FAST;
IOBUF PORT "ddram_reset_n" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_unused0" SITE "H3";
IOBUF PORT "ddram_unused0" SLEWRATE=FAST;
IOBUF PORT "ddram_unused0" IO_TYPE=SSTL135_II;

LOCATE COMP "ddram_unused1" SITE "L4";
IOBUF PORT "ddram_unused1" SLEWRATE=FAST;
IOBUF PORT "ddram_unused1" IO_TYPE=SSTL135_II;

# BANK6

## GROUP0

LOCATE COMP "ddram_dml" SITE "J17";
IOBUF PORT "ddram_dml" SLEWRATE=FAST;
IOBUF PORT "ddram_dml" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_dl00" SITE "H18";
IOBUF PORT "ddram_dl00" SLEWRATE=FAST;
IOBUF PORT "ddram_dl00" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl00" TERMINATION=OFF;

LOCATE COMP "ddram_dl01" SITE "J18";
IOBUF PORT "ddram_dl01" SLEWRATE=FAST;
IOBUF PORT "ddram_dl01" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl01" TERMINATION=OFF;

LOCATE COMP "ddram_dl02" SITE "K15";
IOBUF PORT "ddram_dl02" SLEWRATE=FAST;
IOBUF PORT "ddram_dl02" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl02" TERMINATION=OFF;

LOCATE COMP "ddram_dl03" SITE "M17";
IOBUF PORT "ddram_dl03" SLEWRATE=FAST;
IOBUF PORT "ddram_dl03" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl03" TERMINATION=OFF;

LOCATE COMP "ddram_dl04" SITE "K16";
IOBUF PORT "ddram_dl04" SLEWRATE=FAST;
IOBUF PORT "ddram_dl04" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl04" TERMINATION=OFF;

LOCATE COMP "ddram_dl05" SITE "L15";
IOBUF PORT "ddram_dl05" SLEWRATE=FAST;
IOBUF PORT "ddram_dl05" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl05" TERMINATION=OFF;

LOCATE COMP "ddram_dl06" SITE "M16";
IOBUF PORT "ddram_dl06" SLEWRATE=FAST;
IOBUF PORT "ddram_dl06" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl06" TERMINATION=OFF;

LOCATE COMP "ddram_dl07" SITE "K18";
IOBUF PORT "ddram_dl07" SLEWRATE=FAST;
IOBUF PORT "ddram_dl07" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_dl07" TERMINATION=OFF;

LOCATE COMP "ddram_dqsl_p" SITE "K17";
IOBUF PORT "ddram_dqsl_p" SLEWRATE=FAST;
IOBUF PORT "ddram_dqsl_p" IO_TYPE=SSTL135D_I;
IOBUF PORT "ddram_dqsl_p" TERMINATION=OFF;
IOBUF PORT "ddram_dqsl_p" DIFFRESISTOR=100;

## GROUP1

LOCATE COMP "ddram_dmu" SITE "G16";
IOBUF PORT "ddram_dmu" SLEWRATE=FAST;
IOBUF PORT "ddram_dmu" IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_du00" SITE "G15";
IOBUF PORT "ddram_du00" SLEWRATE=FAST;
IOBUF PORT "ddram_du00" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du00" TERMINATION=OFF;

LOCATE COMP "ddram_du01" SITE "H16";
IOBUF PORT "ddram_du01" SLEWRATE=FAST;
IOBUF PORT "ddram_du01" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du01" TERMINATION=OFF;

LOCATE COMP "ddram_du02" SITE "J16";
IOBUF PORT "ddram_du02" SLEWRATE=FAST;
IOBUF PORT "ddram_du02" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du02" TERMINATION=OFF;

LOCATE COMP "ddram_du03" SITE "D17";
IOBUF PORT "ddram_du03" SLEWRATE=FAST;
IOBUF PORT "ddram_du03" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du03" TERMINATION=OFF;

LOCATE COMP "ddram_du04" SITE "F15";
IOBUF PORT "ddram_du04" SLEWRATE=FAST;
IOBUF PORT "ddram_du04" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du04" TERMINATION=OFF;

LOCATE COMP "ddram_du05" SITE "F18";
IOBUF PORT "ddram_du05" SLEWRATE=FAST;
IOBUF PORT "ddram_du05" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du05" TERMINATION=OFF;

LOCATE COMP "ddram_du06" SITE "D18";
IOBUF PORT "ddram_du06" SLEWRATE=FAST;
IOBUF PORT "ddram_du06" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du06" TERMINATION=OFF;

LOCATE COMP "ddram_du07" SITE "C18";
IOBUF PORT "ddram_du07" SLEWRATE=FAST;
IOBUF PORT "ddram_du07" IO_TYPE=SSTL135_I;
IOBUF PORT "ddram_du07" TERMINATION=OFF;

LOCATE COMP "ddram_dqsu_p" SITE "G18";
IOBUF PORT "ddram_dqsu_p" SLEWRATE=FAST;
IOBUF PORT "ddram_dqsu_p" IO_TYPE=SSTL135D_I;
IOBUF PORT "ddram_dqsu_p" TERMINATION=OFF;
IOBUF PORT "ddram_dqsu_p" DIFFRESISTOR=100;

LOCATE COMP "ddram_clk_p" SITE "F17";
IOBUF PORT "ddram_clk_p" SLEWRATE=FAST;
IOBUF PORT "ddram_clk_p" IO_TYPE=SSTL135D_I;

LOCATE COMP "ddram_unused3" SITE "L16";
IOBUF PORT "ddram_unused3" SLEWRATE=FAST;
IOBUF PORT "ddram_unused3" IO_TYPE=SSTL135_II;

